.btn-dark:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

.form-check-input {
    margin-top: 0;
    margin-right: 10px;
}

.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskHeading {
    font-size: 20px;
    text-align: center;
}

.btn-close:hover {
    color: red;
}
